:root {
    --clr-white: hsl(360, 100%, 100%);
    --clr-primary-300: hsl(300, 69%, 71%);
    --clr-primary-400: hsl(257, 40%, 49%);

    --ff-poppins: 'Poppins', sans-serif;
    --ff-opensans: 'Open Sans', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, p, ul {
    margin: 0;
    padding: 0;
}

body {
    color: var(--clr-white);
    background-image: url('./images/bg-mobile.svg');
    background-color: var(--clr-primary-400);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--ff-opensans);
}

img {
    display: block;
    max-width: 100%;
}

.wrapper {
    width: 85%;
    max-width: 80rem;
    margin: 2.5rem auto;
}

.logo__img {
    width: 8rem;
}

.hero__img {
    margin: 4rem auto;
}

article {
    text-align: center;
}

.hero__heading {
    font-family: var(--ff-poppins);
    font-size: clamp(1.5rem, 6vw, 2.5rem);
    margin-bottom: 1rem;
}

.hero__text {
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.btn {
    background-color: var(--clr-white);
    border-radius: 100px;
    color: var(--clr-primary-400);
    cursor: pointer;
    display: block;
    font-family: var(--ff-poppins);
    margin: 0 auto;
    padding: .5em;
    text-decoration: none;
    width: 70%;
    box-shadow: 0 .3rem .5rem hsla(0, 0%, 0%, .3);
    text-align: center;
    transition: .5s ease;
}

.btn:hover {
    background-color: var(--clr-primary-300);
    color: var(--clr-white);
}

.sic__list {
    display: flex;
    gap: 1rem;
    justify-content: center;
    list-style: none;
    margin-top: 4.5rem;
}

.sic__item {
    border: 1px solid var(--clr-white);
    border-radius: 50%;
    color: var(--clr-white);
    display: grid;
    place-items: center;
    width: 2.5rem;
    height: 2.5rem;
    transition: .3s ease-in-out;
}

.sic__item:hover {
    color: var(--clr-primary-300);
    border-color: var(--clr-primary-300);
}

@media (min-width:50rem) {
    body {
        background-image: url('./images/bg-desktop.svg');
        background-position: left center;
        background-size: contain;
    }

    main {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
    }

    .logo__img {
        width: 12.5rem;
    }

    .hero__img {
        width: 55%;
    }

    article {
        text-align: left;
        width: 45%;
    }

    .hero__heading {
        font-size: clamp(1.5rem, 3vw, 2.5rem);
    }

    .btn {
        margin: 0;
        padding: .8rem;
        width: 12.5rem;
    }

    .sic__list {
        justify-content: flex-end;
        margin: 0;
    }
}